
    body {
    background-color: #fff;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 170px;
    height: 10px;
}

body {
    margin:0px;
    padding:0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive;
}

p {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 17px;
}

#body {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 100%;
}
#div {
    background-color: rgba(0,0,0,0.1);
    color: #FFFFFF;
    width: 80%;
    margin: auto
    border: 0.1px solid rgba(0,0,0,0.1);
    border-radius: 7px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lightgray;
}

a:active {
    color: lightgray;
}

