/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-image: url('c94627ca6c5147bc87157df09027ded3.jpg');
  color: black;
  font-family: Helvetica;
}

div {
    background-image: url('r12x12_Pixel_Block_Stone_NEW_DESIGN_2015_PRINT_FILE_shop_thumb.png');
    border: 2px solid transparent;
    padding: 15px;
    -webkit-border-image: url(Stone2_3895609.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(Stone2_3895609.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(Stone2_3895609.jpg) 30 round;
    border-radius: 2px;
    color: #1a1a1a;
}

.banner {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(SPACECAT8bit.png) no-repeat;
  width: 568px; /* Width of new image */
  height: 77px; /* Height of new image */
  padding-left: 568px; /* Equal to width of new image */
}