@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background-color: #22eaca;
  margin: 3%;
  font-size: 150%;
  font-family: 'Josefin Sans', sans-serif;
}

#box {
  background-color: #ee5a5a;
  width: 45%;
  margin: auto;
  text-align: center;
  padding: 1%;
  border-style: solid;
  border-width: 5px;
  border-color: #ff9e74;
  color: #b31e6f;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 500%;
  -webkit-text-stroke: 5px #590f37;
}

p, li {
  filter: drop-shadow(0em 0.1em #590f37);
  font-size: 110%;
  font-weight: bold;
}

a {
  color: #eee;
}

hr {
  border-color: #590f37;
  background-color: #590f37;
  color: #590f37;
}

ul {
  text-align: left;
}

/* bad idea lol
h1, p {
  color: black;
  mix-blend-mode: darken;
}
*/